﻿body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image:url('background.png');
    background-repeat:no-repeat;

}

nav {
	margin: 100px auto; 
	text-align: center;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}


nav ul {
	background: #A9A9A9; 
	background: linear-gradient(top, #efefef 0%, #A9A9A9 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #A9A9A9 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#A9A9A9 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}

	nav ul li {
		float: left;
	}
		nav ul li:hover {
			background: #1E90FF;
			background: linear-gradient(top, #A9A9A9 0%, #C0C0C0 40%);
			background: -moz-linear-gradient(top, #A9A9A9 0%, #C0C0C0 40%);
			background: -webkit-linear-gradient(top, #A9A9A9 0%,#C0C0C0 40%);
		}
			nav ul li:hover a {
				color: #1E90FF;
			}
		
		nav ul li a {
			display: block; padding: 25px 40px;
			color: #757575; text-decoration: none;
		}
			
		
	nav ul ul {
		background: #5f6975; border-radius: 0px; padding: 0;
		position: absolute; top: 100%;
	}
		nav ul ul li {
			float: none; 
			border-top: 1px solid #A9A9A9;
			border-bottom: 1px solid #A9A9A9; position: relative;
		}
			nav ul ul li a {
				padding: 15px 40px;
				color: #fff;
			}	
				nav ul ul li a:hover {
					background: #4b545f;
				}
		
	nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}
		
h1 {text-align:center;}
